@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Outfit:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,700&family=Outfit:wght@100;400;600;700&display=swap');



* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
}

.menu_logo {
    text-decoration: none;
    color: inherit;
}

.menu_perfil {
    text-decoration: none;
    color: inherit;
}

#menu {
    height: 80px;
    background-color: #1C1C1C;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_largura {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.menu2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-family: Nunito Sans;
}

.menu_perfil:hover {
    color: #ffffff88;
}

.menu3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: Nunito Sans;
}


.menu_logo {
    font-family: Nunito Sans;
    font-size: 32px;
    background-color: #0fb541d7;
    padding: 6px 32px 6px 32px;
    /* border-radius: 15px; */
}

.menu_logo:hover {
    background-color: #00581C;
    color: #ffffff;
}

.perfil:hover {
    color: #ffffff88;
}

.registre {
    background-color: #00581C;
    padding: 10px 15px 10px 15px;
    /* border-radius: 5px; */
    text-decoration: none;
    color: inherit;
}

.registre:hover {
    background-color: #299148a8;
}

/* ----------- Principal ---------------- */


main {
    width: 80%;
    margin: auto;
    margin-top: 10em;
    font-family: Nunito Sans;
}

.parte_superior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foto_perfil {
    margin-top: 5px;
    max-width: 350px;
}

.link_alterar_foto {
    font-size: 15px;
    font-weight: 700;
    color: inherit;
}

.link_alterar_foto:hover{
    color: #c2a513;
}

.divlevel {
    width: 408px;
    height: 155px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.nvl_personagem {
    width: 55px;
    height: 55px;
}

.info_level p {
    color: rgba(0, 0, 0, 0.384);
}

.stats_level {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 16px;
    margin-bottom: 2px;
}

.barra_level {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 435px;
    height: 40px;
}

.um {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -1px;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(to right, #f8e21e, #f3b24e);
    border-radius: 100%;
    padding: 20px;
    z-index: 2;
    color: #825c24;
}

.teste {
    height: 40px;
    width: 325px;
    position: relative;
    left: -42px;
    display: inline-flex;
    justify-content: end;
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(to right, #f7e860, #f3b24e);
    z-index: 1;
    color: #825c24;
}


.seis_m {
    color: #825c2459;
    margin-right: 10px;
}


.tres {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(to right, rgba(248, 226, 30, 0.3), rgba(243, 178, 78, 0.3));
    border-radius: 100%;
    padding: 20px;
    color: #825c2459;
}

.btn_editar_perfil {
    width: 30%;
    padding: 10px 5px 10px 5px;
    background-color: #476683;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-radius: 5px;
}

/* -----------------------Parte central------------------------ */

#parte_central {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}

/* ----------------------------Central esquerda -------------------------- */

.parte_central_esquerda {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.atvd_recente {
    background-color: #333333;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding: 4px;
    border-radius: 5px;
}

.atvd_recente P {
    margin-left: 10px;
}

/* -------------------------------------------------- */

.desafio {
    display: flex;
    flex-direction: row;
    background-color: #333333;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}

.desafio h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 15px;
}

.desafio_mensagem {
    width: 60%;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.desafio_ecoin {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}

.desafio_div_texto {
    margin-left: 5px;
}

.desafio_div_img {
    margin-right: 5px;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.desafio i {
    display: flex;
    justify-content: end;
}

/* ---------------------------------- */

.comentario {
    background-color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #FFFFFF;
    padding: 5px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.comentario h4 {
    margin-left: 5px;
}

/* -----------------------------Central direita-------------------------- */

.parte_central_direita {
    width: 30%;
    background-color: #333333;
    color: #FFFFFF;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
}

hr {
    color: #D9D9D9;
    background-color: #D9D9D9;
    height: 1px;
    margin-bottom: 40px;
}

.pontuacao {
    width: 90%;
    margin: auto;
}

.pontuacao_divisao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista_amigo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.lista_amigo p {
    font-size: 13px;
    line-height: 18px;
}

/* ----------------------------------------------- */

.parte_final {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.parte_final button {
    padding: 10px 15px 10px 15px;
    background-color: #476683;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-radius: 10px;
}

.botao_final {
    width: 50%;
    display: flex;
    justify-content: center;
}

.parte_final_comentario {
    margin-left: 110px;
}

.comentario_unico {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.nome_data {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 7px;
}


.nome_data h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.nome_data p {
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
}

.comentario_amigo {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.loja {
    width: 163px;
    height: 163px;
}

.loja_final {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin-right: 1px;
}



/* ------------- Footer ----------------- */

#pe_pag {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 50px;
    background-color: #1C1C1C;
    padding: 20px 0px;
}

.botao_enviar {
    padding: 6px 30px 6px 30px;
    color: #ffffff;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 5px;
}

.botao_enviar:hover {
    background-color: #3b3b3b;
}

.footer_esquerda {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 20px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
    width: 100%;
}

.icon a:hover {
    color: red;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    justify-content: space-between;
}

.footer_texto {
    color: #ffffff;
    font-family: Nunito Sans;
    font-size: 14px;
}

.footer_paragrafo {
    width: 65%;
    color: #FFFFFF;
    font-weight: 300;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

input {
    padding: 10px;
}
