@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Outfit:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,700&family=Outfit:wght@100;400;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
}

.menu_logo {
    text-decoration: none;
    color: inherit;
}

.menu_perfil {
    text-decoration: none;
    color: inherit;
}

#menu {
    height: 80px;
    background-color: #1C1C1C;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.menu_largura {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.menu2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-family: Nunito Sans;
}

.menu_perfil:hover {
    color: #ffffff88;
}

.menu3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: Nunito Sans;
}


.menu_logo {
    font-family: Nunito Sans;
    font-size: 32px;
    background-color: #0fb541d7;
    padding: 6px 32px 6px 32px;
    /* border-radius: 15px; */
}

.menu_logo:hover {
    background-color: #00581C;
    color: #ffffff;
}

.perfil:hover {
    color: #ffffff88;
}

.registre {
    background-color: #00581C;
    padding: 10px 15px 10px 15px;
    /* border-radius: 5px; */
    text-decoration: none;
    color: inherit;
}

.registre:hover {
    background-color: #299148a8;
}

/* ----------- Principal ---------------- */

main {
    font-family: Nunito Sans;
}

.podio{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    position: relative;
    width: 90%;
    height: auto;
}


.titulo{
    color: #37AC5D;
    margin-top: 5rem;
    text-shadow: -5px 3px 7px rgba(55, 172, 92, 0.6);
}
.titulo h1{
    font-size: 4rem;
}

.ranking{
    background-color: #4089AF;
    border-radius: 10% 10% 0 0;
    display: flex;
    flex-flow: column wrap;
    margin-top: 8rem;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.top3{
    display: flex;
    flex-flow: row wrap;   
    align-items: center;
    justify-content: space-around;
    /* background-color: red;  */
    width: 40%;
    text-align: center;
    padding-bottom: 5%;
}


.lugar1 img{
    width: 100%;
    border-radius: 50%;
}

.lugar1{
    order: 2;
    margin-top: -10%;
}

.lugar1 p {
    margin-bottom: -5%;
}

.lugar2{
    order: 1;
    margin-top: -5%;
}

.lugar2 p{
    margin-bottom: -5%;
}

.lugar3{
    order: 3;
    margin-top: -5%;
}

.lugar3 p {
    margin-bottom: -5%;
}

.username{
    font-weight: 700;
    color: #ffffff;
}

/* .username a:hover{
    color: #F4CB00;
    text-decoration: none;
} */

.atusername{
    opacity: 80%;
}

.pontuacao{
    color: #F4CB00;
    font-weight: 700;
}

.demaislugares{
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: yellow; */
    margin-bottom: 2.5%;
}

.imagem{
    display: flex;
    flex-flow: column wrap;
}

.imagem img{
    min-width: 0;
    width: 65%;
    /* border-radius: 100%; */
    margin-bottom: 18%;
}

.demaislugares .pontuacao{
    margin-top: 0%;
}

.username p, .posicao p, .atusername p,.atusername, .n1 {
    color: #ceebe9;
}

#logo{
    color: #37AC5D;
}



/* ------------- Footer ----------------- */

#pe_pag {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 50px;
    background-color: #1C1C1C;
    padding: 20px 0px;
}

.botao_enviar {
    padding: 6px 30px 6px 30px;
    color: #ffffff;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 5px;
}

.botao_enviar:hover {
    background-color: #3b3b3b;
}

.footer_esquerda {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 20px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
    width: 100%;
}

.icon a:hover {
    color: red;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    justify-content: space-between;
}

.footer_texto {
    color: #ffffff;
    font-family: Nunito Sans;
}

.footer_paragrafo {
    width: 65%;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/* -------------Media queries---------------- */

@media screen and (max-width: 670px) {

    .demaislugares {
        width: 90%;
    }

}

@media screen and (max-width: 467px){
    
    .lugar1 {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        order: 1;
        margin-top: 0%;
    }

    .lugar2 {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        order: 2;
    }

    .lugar3 {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
    }

    .top3 {
        gap: 2rem;
    }

    .ranking {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .atusername {
        display: none;
    }

}